<!DOCTYPE html>
<html>
  <head>
    <title>flash-project </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>

  </head>

  <body>
    <div class="container" data-behavior="vue-app">
    </div>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
